<h1>Hoopers#edit</h1>

<%= simple_form_for(@hooper) do |f| %>
    <%= f.input :name %>
    <%= f.input :position %>
    <%= f.input :team %>
    <%= f.input :career_ppg %>
    <%= f.input :reg_mvps %>
    <%= f.input :finals_mvps %>
    <%= f.input :finals_wins %>
    <%= f.submit %>
<% end %>